@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;

}

header {
  display: flex;
  flex-direction: row;
  background-color: rgb(56, 56, 233);
  color: white;
  padding: 0px 10px;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 70px;
  box-shadow: 0 0 10px black;
}

h1 {
  font-size: 16;
}

nav li {
  display: inline-block;
  color: white;
  font-size: 1.06em;
  padding: 1.8em 0.4em;
  transition: transform .2s;
}

nav li:hover {
  background-color: rgb(66, 66, 238);
  box-shadow: 0 0 10px black;
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.08);
  color: white;
}

ul li .line {
  display: block;
  height: 2px;
  width: 0;
  transition: .2s;
  background-color: white;
}

ul li:hover .line {
  width: 100%;
}


a {
  color: white;
  text-decoration: none;

}

a:hover {
  color: white;
}


/* ===== Home page=======*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 5em;
}

#signinspan {
  color: rgb(56, 56, 233);
  text-decoration: underline;
}


/* ==========SlidesShow/Carousel =========== */


#carouselExampleDark {
  width: 70% !important;
  height: 45vh;
  margin: 2em auto 0px auto;
  border-radius: 10px;
}

img {
  height: 45vh;
  width: 35vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;

}

h5 {
  margin-top: 35px;
  font-size: 20px;
  text-align: left;
  border: 8px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.carousel-caption p {
  text-align: left;
  color: black;
  font-weight: bold;
  margin-top: 40px;
  line-height: 1.6;
  letter-spacing: 1.3px;

}


/* ====================================== Sign in up Page ============================================ */

form {
  width: 500px;
  margin: 0px auto;


}

#signinButton {
  width: 150px;
  margin: 10px auto;
}


#signupForm {
  margin-top: 0px;
  width: 600px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

/* ============View page ================= */

.mb-3 {
  width: 400px;
  margin: 5em auto;
}



.thumb {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(56, 56, 233);
  border-radius: 8px;
  margin: 10px 5px 0 0;
  box-shadow: 0 0.8em 0.8em -0.4em;
}


.buttons,
.output {
  display: flex;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}